In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import regex as re

In [4]:
import nltk

In [10]:
from nltk.corpus import stopwords

In [12]:
from nltk.stem import SnowballStemmer

In [14]:
from  nltk.stem import WordNetLemmatizer

In [15]:
stemmer=SnowballStemmer('english')

In [16]:
lem=WordNetLemmatizer()

In [17]:
doc1 = "<br>Shep Schwab shopped at Scott’s Schnapps shop</br>; one shot of Scott’s Schnapps stopped Schwab’s watch."

doc2 = "Three Swedish switched witches watch three Swiss Swatch watches switches. Which Swedish switched witch watch which Swiss Swatch watch witch?"

doc3 = "Betty bought butter but the butter was bitter, 1243432 455454 so Betty bought better butter to make the bitter butter better."

doc4 = "Amidst the mists and coldest frosts, with stoutest wrists and loudest boasts, he thrusts his fist against the posts and still insists he sees the ghosts."

doc5 = "The sixth sick sheik’s sixth sheep’s sick. https://atkinsbookshelf.wordpress.com/2013/04/07/difficult-tongue-twisters/"

In [18]:
dfOriginal = pd.DataFrame({'docs':[doc1,doc2,doc3,doc4,doc5]})

In [19]:
dfOriginal

                                                docs
0  <br>Shep Schwab shopped at Scott’s Schnapps sh...
1  Three Swedish switched witches watch three Swi...
2  Betty bought butter but the butter was bitter,...
3  Amidst the mists and coldest frosts, with stou...
4  The sixth sick sheik’s sixth sheep’s sick. htt...

In [20]:
df=dfOriginal.copy()

In [21]:
df

                                                docs
0  <br>Shep Schwab shopped at Scott’s Schnapps sh...
1  Three Swedish switched witches watch three Swi...
2  Betty bought butter but the butter was bitter,...
3  Amidst the mists and coldest frosts, with stou...
4  The sixth sick sheik’s sixth sheep’s sick. htt...

In [24]:
def  preprocessing (y,stem=False):
    lowercase=y.lower()
    html_tags=re.sub(r'<,*?>','',lowercase)
    urls = re.sub(r'https?://\S+|www.S+',"",html_tags)
    spl_char = re.sub(r'[^A-z ]','',urls)
    new_line = re.sub(r'\n',' ',spl_char)
    tokens = new_line.split()

    clean_tokens = [t for t in tokens if t not in stopwords.words('english')]

    if stem:

        doc_list = [stemmer.stem(i) for i in clean_tokens]
    else:

        doc_list = [lem.lemmatize(i) for i in clean_tokens]

    return ' '.join(doc_list)

In [25]:
df['clean']=df['docs'].apply(preprocessing)

In [26]:
df

,docs,clean
0,<br>Shep Schwab shopped at Scott’s Schnapps sh...,brshep schwab shopped scott schnapps shopbr on...
1,Three Swedish switched witches watch three Swi...,three swedish switched witch watch three swiss...
2,"Betty bought butter but the butter was bitter,...",betty bought butter butter bitter betty bought...
3,"Amidst the mists and coldest frosts, with stou...",amidst mist coldest frost stoutest wrist loude...
4,The sixth sick sheik’s sixth sheep’s sick. htt...,sixth sick sheik sixth sheep sick

In [27]:
df['clean']=df['docs'].apply(preprocessing,stem=True)

In [28]:
df

,docs,clean
0,<br>Shep Schwab shopped at Scott’s Schnapps sh...,brshep schwab shop scott schnapp shopbr one sh...
1,Three Swedish switched witches watch three Swi...,three swedish switch witch watch three swiss s...
2,"Betty bought butter but the butter was bitter,...",betti bought butter butter bitter betti bought...
3,"Amidst the mists and coldest frosts, with stou...",amidst mist coldest frost stoutest wrist loude...
4,The sixth sick sheik’s sixth sheep’s sick. htt...,sixth sick sheik sixth sheep sick